body{
    background: url("Images/stage.png") no-repeat center center fixed; 
    background-size: cover;
}

#duck{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline:none;
}




